title: On which Melbourne Metro Train Line Would You Find...
description: >- # this means to ignore newlines until "baseurl:"
  A silly little game based on a regular question at our brewery trivia night.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://choochoo.jasbro.io/" # the base hostname & protocol for your site, e.g. http://example.com
github_username: stopthatastronaut
github:
  repository_name: stopthatastronaut/MelTrainGame

# Build settings
# remote_theme: henrythemes/jekyll-bootstrap-theme

plugins:
- jekyll-remote-theme

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
